<section class="post-footer">
  <div class="post-meta">
    Publicado por <a href="https://neverbot.com"><%= post.author ? post.author : 'alguien' %></a>, el
    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, theme.date_format) %></time>
    <% if (theme.show_updated && post.date !== post.updated) { %>
    (modificado: <time datetime="<%= date_xml(post.updated) %>" itemprop="dateModified"><%= date(post.updated, theme.date_format) %></time>)
    <% } %>
  </div>
  <div>
    <% if (post.tags.length !== 0) { %>
    <span>Etiquetado como:</span>
    <% post.tags.forEach((item, i) => { %>
      <span class="tag" title="Ver más contenido relacionado">
      <a href="<%- url_for(item.path) %>">#<%- item.name %></a></span><%- (i < post.tags.length - 1) ? ',' : '' %>
    <% }) %>
    | <span class="permalink" title="Permalink"><a href="<%- post.permalink %>">&para;</a></span>
    <% } %>
  </div>

  <% if (is_post()) { %>
  <%- partial('_partial/post/related', { post: post }) %>
  <% } %>
</section>
